<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card>
          <v-card-text>
            <v-container>
              <table id="customers">
                <tr>
                  <th>Firstname</th>
                  <th>lastname</th>
                  <th>Email Address</th>
                  <th>PhoneNumber</th>
                  <th></th>
                </tr>
                <tr v-for="item in items" :key="item.title" router :to="{name: 'ambassadors', params:{user_public_id: item.user_public_id}}" @click="">
                  <td>{{item.first_name}}</td>
                  <td>{{item.last_name}}</td>
                  <td>{{item.email_address}}</td>
                  <td>{{item.phone_number}}</td>
                  <td><v-btn class="orange" @click="openSingle(item.user_public_id)"><h4 class="white--text">View Ambassador</h4></v-btn></td>
                </tr>
              </table>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'ambassador',
  data () {
    return {
      items: []
    }
  },
  methods: {
    openSingle: function (publicId) {
      this.$router.push({
        name: 'ambassadors',
        params: {
          user_public_id: publicId
        }
      })
    }
  },
  created () {
    this.$http.get('http://keatrading.co.ke:6003/users/view').then(function (response) {
      this.items = response.body.data
    })
  }
}
</script>

<style scoped>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkorange;
    color: white;
  }
</style>
