<template>
  <v-layout justify-center>
    <v-flex xs12 sm8>
      <v-card>
        <div v-for="x in items">
          <v-card-media :src="x.image" height="400px">
          </v-card-media>
          <router-link :to="{name: 'ambassadors', params:{user_public_id: x.user_public_id}}" @click="">
        <v-card-title class="orange darken-1">
          <span class="headline white--text">{{x.first_name}}</span>
          <v-spacer></v-spacer>
          <v-btn dark icon>
            <v-icon>chevron_left</v-icon>
          </v-btn>
          <v-btn dark icon>
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn dark icon>
            <v-icon>more_vert</v-icon>
          </v-btn>
        </v-card-title>
        <v-list two-line>
          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>phone</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{x.phone_number}}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>chat</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider inset></v-divider>
          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>phone</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{x.phone_number}}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-icon>chat</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider inset></v-divider>
          <v-list-tile @click="">
            <v-list-tile-action>
              <v-icon>mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{x.email_address}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
          </router-link>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'ambassadors',
  data () {
    return {
      items: []
    }
  },
  created () {
    this.$http.get('http://keatrading.co.ke:6003/users/view/' + this.$route.params.user_public_id).then(function (response) {
      this.items = response.body.data
      console.log(response.body.data[0])
    })
  }
}
</script>

<style scoped>

</style>
