<template>
  <v-container>
    <v-layout row>
      <v-flex xs7>
        <v-card>


        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'ambassadorspg',
  data () {
    return {
      users: []
    }
  },
  created () {
    this.$store.dispatch('get_all_users')
  }
}
</script>

<style scoped>

</style>
