<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card style="width: 700px">
          <v-card-text>
            <v-container>
              <form @submit.prevent="dettach">
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="event_id"
                      label="event_id"
                      id="event_id"
                      v-model="event_id"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="ambasssador_id"
                      label="ambasssador_id"
                      id="ambassador_id"
                      v-model="ambassador_id"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row style="position: center">
                  <v-flex xs12 sm6 offset-sm3>
                    <v-btn class="orange"
                           :disabled="!formIsValid"
                           type="submit">Create</v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        event_id: '',
        ambassador_id: ''
      }
    },
    computed: {
      formIsValid () {
        return this.event_id !== '' &&
          this.ambassador_id !== ''
      }
    },
    methods: {
      dettach () {
        const signinData = {
          event_id: this.event_id,
          ambassador_id: this.ambassador_id
        }
        this.$store.dispatch('dettach_ambassador_to_event', signinData)
      }
    }
  }
</script>
<style scoped>

</style>
