<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card style="width: 700px">
          <v-card-text>
            <v-container>
              <form @submit.prevent="patch">
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="user_id"
                      label="user_id"
                      id="user_id"
                      v-model="user_id"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="session_id"
                      label="session_id"
                      id="session_id"
                      v-model="session_id"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row style="position: center">
                  <v-flex xs12 sm6 offset-sm3>
                    <v-btn class="orange"
                           :disabled="!formIsValid"
                           type="submit">Create</v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        user_id: '',
        session_id: ''
      }
    },
    computed: {
      formIsValid () {
        return this.user_id !== '' &&
          this.session_id !== ''
      }
    },
    created () {
      this.$http.patch('http://keatrading.co.ke:6003/users/approve').then(function (response) {
        this.users = response.body.data
      })
    }
  }
</script>
<style scoped>

</style>
