<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-card-media>
            <div class="card">
              <img src="http://via.placeholder.com/350x150" style="width:100%">
            </div>
          </v-card-media>
          <v-card-text>
            <v-container>
              <form @submit.prevent="onpostprofile">
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="user_id"
                      label="user_id"
                      id="user_id"
                      v-model="user_id"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="image"
                      label="image"
                      id="image"
                      v-model="image"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="session_id"
                      label="session_id"
                      id="session_id"
                      v-model="session_id"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <v-layout row style="position: center">
                  <v-flex xs12 sm6 offset-sm3>
                    <v-btn class="orange"
                           :disabled="!formIsValid"
                           type="submit">Create</v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  export default {
    name: 'profile',
    data () {
      return {
        user_id: '',
        image: '',
        session_id: ''

      }
    },
    computed: {
      formIsValid () {
        return this.user_id !== '' &&
          this.image !== '' &&
          this.session_id !== ''
      }
    },
    methods: {
      onpostprofile () {
        const signinData = {
          user_id: this.user_id,
          image: this.image,
          session_id: this.session_id
        }
        this.$store.dispatch('post_basic_on_profile', signinData)
      }
    }
  }
</script>

<style scoped>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
</style>
