<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-text>
            <v-container>
              <table id="customers">
                <tr>
                  <th>Created_At</th>
                  <th>Description</th>
                  <th>Event_date</th>
                  <th>Event_status</th>
                  <th>name</th>
                  <th>Public_name</th>
                  <th>venue</th>
                </tr>
                <tr v-for="x in events">
                  <td>{{x.created_at}}</td>
                  <td>{{x.description}}</td>
                  <td>{{x.event_date}}</td>
                  <td>{{x.event_status}}</td>
                  <td>{{x.name}}</td>
                  <td><v-btn @click="openSingle(x.public_platform_public_Id)">update Event</v-btn></td>
                  <td>{{x.venue}}</td>
                </tr>
              </table>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'eventspg',
    data () {
      return {
        events: []
      }
    },
    created () {
      this.$http.get('http://139.162.246.141:6002/v1/events/all').then(function (response) {
        this.events = response.body.data
      })
    }
  }
</script>

<style scoped>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkorange;
    color: white;
  }
</style>

