<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-card-text>
            <v-container>
              <form @submit.prevent="onpostuserid">
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="first_name"
                      label="first_name"
                      id="first_name"
                      v-model="first_name"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="last_name"
                      label="last_name"
                      id="last_name"
                      v-model="last_name"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="email"
                      label="email"
                      id="email"
                      v-model="email"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="phone"
                      label="phone"
                      id="phone"
                      v-model="phone"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="address"
                      label="address"
                      id="address"
                      v-model="address"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="description"
                      label="description"
                      id="description"
                      v-model="description"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="dob"
                      label="dob"
                      id="dob"
                      v-model="dob"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row style="position: center">
                <v-flex xs12 sm6 offset-sm3>
                  <v-btn class="orange"
                         :disabled="!formIsValid"
                         type="submit">Create</v-btn>
                </v-flex>
    </v-layout>
    </form>
  </v-container>
  </v-card-text>
  </v-card>
  </v-flex>
  </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'userid',
  data () {
    return {
      first_name: '',
      last_name: '',
      email: '',
      address: '',
      phone: '',
      description: '',
      dob: ''
    }
  },
  computed: {
    formIsValid () {
      return this.first_name !== '' &&
        this.last_name !== '' &&
        this.email !== '' &&
        this.phone !== '' &&
        this.address !== '' &&
        this.description !== '' &&
        this.dob !== ''
    }
  },
  methods: {
    onpostuserid () {
      const signinData = {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        phone: this.phone,
        address: this.address,
        description: this.description,
        dob: this.dob
      }
      this.$store.dispatch('post_basic_on_user_account', signinData)
    }
  }
}
</script>

<style scoped>

</style>
