<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card style="width: 100%">
          <v-card-text>
            <v-container>
  <table id="customers">
    <tr>
      <th>age</th>
      <th>applicantDate</th>
      <th>email</th>
      <th>firstname</th>
      <th>lastname</th>
      <th>PhoneNo</th>
      <th>Userid</th>
    </tr>
    <tr v-for="x in users">
      <td>{{x.age}}</td>
      <td>{{x.application_date}}</td>
      <td>{{x.email_address}}</td>
      <td>{{x.first_name}}</td>
      <td>{{x.last_name}}</td>
      <td>{{x.phone_number}}}</td>
      <td>{{x.user_public_id}}</td>
    </tr>
  </table>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'viewap',
  data () {
    return {
      users: []
    }
  },
  created () {
    this.$http.get('http://139.162.246.141:6003/users/view').then(function (response) {
      this.users = response.body.data
    })
  }
}
</script>

<style scoped>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkorange;
    color: white;
  }
</style>
