<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card style="width: 100%">
          <v-card-text>
            <v-container>
              <table id="customers">
                <tr>
                  <th>Created at</th>
                  <th>description</th>
                  <th>EventDate</th>
                  <th>EventStatus</th>
                  <th>name</th>
                  <th>Venue</th>
                  <th>PublicId</th>
                </tr>
                <tr v-for="x in events" :key="x.title" router :to="{name: 'Sevent', params:{social_id: x.public_id}}" @click="">
                  <td>{{x.created_at}}</td>
                  <td>{{x.description}}</td>
                  <td>{{x.event_date}}</td>
                  <td>{{x.event_status}}</td>
                  <td>{{x.name}}</td>
                  <td>{{x.venue}}}</td>
                  <td>{{x.public_id}}</td>
                  <td><v-btn class="orange" @click="openSingle(x.public_id)"><h4 class="white--text">View Event</h4></v-btn></td>
                </tr>
              </table>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'events',
    data () {
      return {
        events: []
      }
    },
    methods: {
      openSingle: function (publicId) {
        this.$router.push({
          name: 'Sevent',
          params: {
            social_id: publicId
          }
        })
      }
    },
    created () {
      this.$http.get('http://keatrading.co.ke:6002/v1/events/all').then(function (response) {
        this.events = response.body.data
      })
    }
  }
</script>
<style scoped>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkorange;
    color: white;
  }
</style>
