<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card  style="margin-bottom: 30px" class="orange" v-for="x in events">
          <v-container fluid>
            <v-layout row>
              <v-flex xs5 sm4 md3>
                <v-card-media
                  src="http://via.placeholder.com/350x150" height="200px">
                </v-card-media>
              </v-flex>
              <v-flex xs7 sm8 md9>
                <v-card-title orange-title>
                  <div>
                    <h5 class="white--text mb-0">{{x.name}}</h5>
                    <h5 class="white--text mb-0">{{x.created_at}}</h5>
                    <h5 class="white--text mb-0">{{x.description}}</h5>
                    <h5 class="white--text mb-0">{{x.event_date}}</h5>
                    <h5 class="white--text mb-0">{{x.event_status}}</h5>
                    <h5 class="white--text mb-0">{{x.public_id}}</h5>
                    <h5 class="white--text mb-0">{{x.venue}}</h5>
                  </div>
                </v-card-title>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'eventsd',
  data () {
    return {
      events: []
    }
  },
  created () {
    this.$http.get('http://139.162.246.141:6002/v1/events/all').then(function (response) {
      this.events = response.body.data
    })
  }
}
</script>

<style scoped>
. v-card{
  margin-bottom: 20px;
}
</style>
