<template>
  <v-container grid-list-xl text-xs-center>
    <v-layout row wrap>
      <div v-for="x in events">
      <v-flex xs10 offset-xs1>
          <v-card style="margin-bottom: 30px">
            <v-card-title>
              <div class="orange--text">{{x.created_at}}</div>
              <h3 class="orange--text" style="margin-left: 200px">{{x.name}}</h3>
            </v-card-title>
            <v-card-text>
              <div>
                {{x.description}}
              </div>
              <div>
                <table id="customers">
                  <tr>
                    <th>Venue</th>
                    <th>from</th>
                    <th>to</th>
                  </tr>
                  <tr>
                    <td>{{x.venue}}</td>
                    <td>{{x.from}}</td>
                    <td>{{x.to}}</td>
                  </tr>
                </table>
              </div>
            </v-card-text>
            <v-card-actions style="position: center">
              <v-btn class="orange">GOING</v-btn>
              <v-btn class="red">NOT GOING</v-btn>
            </v-card-actions>
          </v-card>
      </v-flex>
        <v-flex xs7 offset-xs0 offset-md2 offset-lg5>
          <v-card>
            <table id="customers">
              <tr>
                <th>Event_date</th>
                <th>Event_status</th>

              </tr>
              <tr>
                <td>{{x.event_date}}</td>
                <td>{{x.event_status}}</td>
              </tr>
            </table>
          </v-card>
        </v-flex>
      </div>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'eventspg',
    data () {
      return {
        events: []
      }
    }
  }
</script>

<style scoped>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkorange;
    color: white;
  }
</style>
