<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card style="margin-bottom: 30px">
          {{events}}
          <div>
            <router-link :to="{name: 'Sevent', params:{social_id: x.public_id}}" @click="">
            <v-card-title>
              <h3 class="orange--text">{{x.name}}</h3>
            </v-card-title>
            <v-card-media
              src="http://via.placeholder.com/350x150" height="400px">
            </v-card-media>
            <v-card-text>
              <div class="orange--text">Created At:{{x.created_at}}</div>
              <div class="orange--text">Date:{{x.event_status}}</div>
              <div class="orange--text">Date:{{x.event_date}}</div>
              <div class="orange--text">Date:{{x.venue}}</div>
              <div>
                <p>Description:</p>
                <span v-html="x.description"></span>
              </div>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
            </v-card-actions>
            </router-link>
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'Sevent',
    data () {
      return {
        x: []
      }
    },
    created () {
      this.$http.get('http://keatrading.co.ke:6002/v1/event/' + this.$route.params.social_id).then(function (response) {
        this.x = response.body
        // console.log(response.body)
      })
    }
  }
</script>

<style scoped>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkorange;
    color: white;
  }
</style>

