<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-text>
            <v-container>
              <table id="customers">
                <tr>
                  <th>name</th>
                  <th>venue</th>
                  <th>Description</th>
                </tr>
                <tr v-for="x in events">
                  <td>{{x.name}}</td>
                  <td>{{x.venue}}</td>
                  <td>{{x.description}}</td>
                </tr>
              </table>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'feedback2',
  data () {
    return {
      events: []
    }
  },
  created () {
    this.$http.get('/src/components/feedback').then(function (response) {
      this.events = response.body.data
    })
  }
}
</script>

<style scoped>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkorange;
    color: white;
  }
</style>
