<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card style="width: 700px">
          <v-card-text>
            <v-container>
              <form @submit.prevent="feedback">
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="name"
                      label="Name"
                      id="name"
                      v-model="name"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="venue"
                      label="Venue"
                      id="venue"
                      v-model="venue"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row class="pb-2">
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="description"
                      label="Description"
                      id="description"
                      v-model="description"
                      multi-line
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row style="position: center">
                  <v-flex xs12 sm6 offset-sm3>
                     <v-btn class="orange"
                           :disabled="!formIsValid"
                           type="submit">Create</v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        name: '',
        venue: '',
        description: ''
      }
    },
    computed: {
      formIsValid () {
        return this.name !== '' &&
          this.venue !== '' &&
          this.description !== ''
      }
    },
    methods: {
      feedback () {
        const signinData = {
          name: this.name,
          venue: this.venue,
          description: this.description
        }
        this.$store.dispatch('post_feedback', signinData)
      }
    }
  }
</script>

<style scoped>

</style>
