<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card @click.prevent="openSingle" style="width: 100%">
          <v-card-text>
            <v-container>
              <table id="customers">
                <tr>
                  <th>Name</th>
                  <th>Url</th>
                  <th>Session_id</th>
                </tr>
                <tr v-for="x in users">
                  <td>{{x.social_media_platform_name}}</td>
                  <td>{{x.url}}</td>
                  <td>{{x.social_media_platform_public_id}}</td>
                  <td><v-btn class="orange" @click="openSingle(x.social_media_platform_public_id)"><h4 class="white--text">View Social</h4></v-btn></td>
                </tr>
              </table>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'allsocial',
    data () {
      return {
        users: []
      }
    },
    methods: {
      openSingle: function (publicId) {
        this.$router.push({
          name: 'SingleSocialMedia',
          params: {
            social_id: publicId
          }
        })
      }
    },
    created () {
      this.$http.get('http://keatrading.co.ke:6003/platforms/view').then(function (response) {
        this.users = response.body.data
      })
    }
  }
</script>

<style scoped>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkorange;
    color: white;
  }
</style>
