<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card style="width: 700px">
          <v-card-text>
            <v-container>
              <form @submit.prevent="onpostsocialmedia">
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="name"
                      label="Name"
                      id="name"
                      v-model="name"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="url"
                      label="url"
                      id="url"
                      v-model="url"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="session_id"
                      label="session_id"
                      id="session_id"
                      v-model="session_id"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row style="position: center">
                  <v-flex xs12 sm6 offset-sm3>
                    <v-btn class="orange"
                           :disabled="!formIsValid"
                           type="submit">Create</v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: 'socialm',
    data () {
      return {
        name: '',
        url: '',
        session_id: ''
      }
    },
    computed: {
      formIsValid () {
        return this.name !== '' &&
          this.url !== '' &&
          this.session_id !== ''
      }
    },
    methods: {
      onpostsocialmedia () {
        const signinData = {
          name: this.name,
          url: this.url,
          session_id: this.session_id
        }
        this.$store.dispatch('post_social_media', signinData)
      }
    }
  }
</script>

<style scoped>

</style>
