<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card style="width: 700px">
          <v-card-text>
            <v-container>
              <form @submit.prevent="onpostsocialmediaacount">
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="user_id"
                      label="user_id"
                      id="user_id"
                      v-model="user_id"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="url"
                      label="url"
                      id="url"
                      v-model="url"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-flex xs6>
                </v-flex>
                <v-layout row wrap>
                <v-flex xs6>
                  <v-select
                    label="platform"
                    :items="items"
                    v-model="platform"
                    :error-messages="['Please select an option']"
                    item-value="text"
                  ></v-select>
                </v-flex>
                </v-layout>
                <v-layout>
                  <v-flex xs12 sm6 offset-sm3>
                    <v-text-field
                      name="session_id"
                      label="session_id"
                      id="session_id"
                      v-model="session_id"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row style="position: center">
                  <v-flex xs12 sm6 offset-sm3>
                    <v-btn class="orange"
                           :disabled="!formIsValid"
                           type="submit">Create</v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'social',
  data () {
    return {
      user_id: '',
      url: '',
      platform: '',
      session_id: '',
      items: [
        { text: 'facebook' },
        { text: 'instagram' },
        { text: 'snapchart' },
        { text: 'twitter' },
        { text: 'other' }
      ]
    }
  },
  computed: {
    formIsValid () {
      return this.user_id !== '' &&
        this.url !== '' &&
        this.platform !== '' &&
        this.session_id !== ''
    }
  },
  methods: {
    onpostsocialmediaacount () {
      const signinData = {
        user_id: this.user_id,
        url: this.url,
        platform: this.platform,
        session_id: this.session_id
      }
      this.$store.dispatch('post_basic_on_social_media', signinData)
    }
  }
}
</script>

<style scoped>

</style>
