<template>
  <v-app>
    <v-toolbar class="orange darken-1">
      <v-toolbar-side-icon @click.native.stop = "sideNav =!sideNav"></v-toolbar-side-icon>
      <v-toolbar-title><h4 style="color: white">KIKKOMAN BRAND AMBASSADOR</h4></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-item>
      </v-toolbar-item>
    </v-toolbar>
    <header></header>
    <main>
      <router-view></router-view>
    </main>
    <v-navigation-drawer style="position: fixed" temporary class="grey lighten-4" v-model="sideNav">
      <v-toolbar-side-icon @click.native.stop = "sideNav =!sideNav"></v-toolbar-side-icon>
      <router-link to ="/" style="display: inline-block"><h4>HOME</h4></router-link>
      <v-spacer></v-spacer>
      <v-list>
        <router-link to ="/eventspg"><h4 style="position: center">EVENTS</h4></router-link>
        <br>
        <div>
            <div class="text-xs-center">
              <v-menu offset-y>
                <v-btn color="orange" dark slot="activator">ADMIN</v-btn>
                <v-list>
                  <v-list-tile v-for="list in lists" :key="list.title" router :to="list.link" @click="">
                    <v-list-tile-title>{{ list.title }}</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </div>
        </div>
        <v-subheader>Events</v-subheader>
          <v-app id="inspire">
            <div class="text-xs-center">
              <v-menu offset-y>
                <v-btn color="orange" dark slot="activator">Events</v-btn>
                <v-list>
                  <v-list-tile v-for="event in events" :key="event.title" router :to="event.link" @click="">
                    <v-list-tile-title>{{event.title }}</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </div>
          </v-app>
        <router-link to ="/ambassadorspg"><h4 style="position: center">AMBASSADORS</h4></router-link>
        <br>
        <div>
          <div class="text-xs-center">
            <v-menu offset-y>
              <v-btn color="orange" dark slot="activator">USER</v-btn>
              <v-list>
                <v-list-tile v-for="list in lister" :key="list.title" router :to="list.link" @click="">
                  <v-list-tile-title>{{ list.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </div>
        </div>
        <v-flex xs6>
          <v-subheader>Ambassadors</v-subheader>
            <v-app id="inspire">
              <div class="text-xs-center">
                <v-menu offset-y>
                  <v-btn color="orange" dark slot="activator">Ambassador</v-btn>
                  <v-list>
                    <v-list-tile v-for="item in items" :key="item.title" router :to="item.link" @click="">
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </div>
            </v-app>
        </v-flex>
        <li><a href="#"><h4>SETTINGS</h4></a></li>
      </v-list>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      lists: [
        {title: 'View Applicants', link: '/viewap'},
        {title: 'Approved Applicants', link: '/approvedu'},
        {title: 'All pending Users', link: '/pendingu'},
        {title: 'A single Users', link: '/singleu'},
        {title: 'All social media', link: '/allsocial'},
        {title: 'Events display', link: '/eventsd'},
        {title: 'All Assignment', link: '/allassign'},
        {title: 'Attach a person', link: '/attach'},
        {title: 'Dettach a person', link: '/dettach'},
        {title: 'View Feedback', link: '/feedback2'}
      ],
      lister: [
        {title: 'social media', link: '/socialm'},
        {title: 'create Event', link: '/createEvent'},
        {title: 'Single social media', link: '/SingleSocialMedia'},
        {title: 'Social Media Account', link: '/socialaccount'},
        {title: 'Apply profile', link: '/userid'},
        {title: 'Add assignment', link: '/addassignment'},
        {title: 'View Feedback', link: '/feedback'}
      ],
      sideNav: false,
      items: [
        {title: 'Ambassador', link: '/ambassador'}
      ],
      events: [
        {title: 'Events', link: '/event'}
      ]
    }
  },
  name: 'App'
}
</script>
<style scoped>
  li{
    display: inline-block;
    margin: 0 10px;

  }
  toolbar{
    header: fixed
  }
</style>
